* {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    background: rgb(230, 229, 220);
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(24, 69, 80);
    font-size: 26px;
  }
  
  .get-btn {
    color: white;
    background-color: rgb(160, 199, 221);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
  }

  .user-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:10px;
    min-width: 350px;
    padding: 40px;
    border: 1px solid #393c50;
    color: rgb(99, 47, 47);
    border-radius: 8px;
    background-color: rgb(199, 221, 193);    
  }

  .user-foto {
    height: 300px;
    margin: 0 auto;
  }
  
  .name {
    text-align: center;
    width: 100%;
  }